body.dynatable {
  background-color: white;
  color: #333;
  font-family: 'Droid Sans', Arial, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: block;
}

.DynaTable-DynaTableWidget {
  width: 100%;
}

.DynaTable-DynaTableWidget .navbar {
  width: 100%;
}

.DynaTable-DynaTableWidget .navbar button {
  width: 3em;
  text-align: center;
  vertical-align: middle;
}

.DynaTable-DynaTableWidget .navbar .status {
  vertical-align: middle;
  padding-right: 10px;
}

.DynaTable-DynaTableWidget .table {
  margin: 1em 0;
  width: 100%;
}

.DynaTable-DynaTableWidget .table td.header {
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.DynaTable-DynaTableWidget .table td.name {
  width: 20%;
}

.DynaTable-DynaTableWidget .table td.desc {
  width: 30%;
}

.DynaTable-DynaTableWidget .table td.sched {
  width: 50%;
}

.DynaTable-DynaTableWidget .table td {
  vertical-align: top;
}

.DynaTable-DayFilterWidget,
.DynaTable-PersonFilterWidget {
  padding: 0px 8px 0px 8px;
  width: 100%;
}

.DynaTable-DayFilterWidget button,
.DynaTable-PersonFilterWidget button {
  width: 4em;
  margin: 8px 4px 8px 4px;
}

.DynaTable-ErrorDialog {
  border: 2px outset;
  background-color: white;
  width: 50%;
}

.DynaTable-ErrorDialog .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

#gwt-header1 {
  position: relative;
  display: block;
  background: #f55837;
  padding: 2em 0;
}

#gwt-header0 {
  position: relative;
  display: block;
  background: #fff691;
  padding: 2em 0;
}

h1.page-title {
  text-align: center;
  color: #972108;
  font-weight: normal;
  font-size: 3em;
}

#gwt-header2 {
  background: #ceedf4;
  padding: 1em 0;
}

#gwt-content {
  background: #efefef;
  padding: 1em 0;
}

.gwt-wrap {
  background: transparent;
  width: 968px;
  margin: 0 auto;
}
/*
.DynaTable-DayFilterWidget {
	width: 100%;
}

.DynaTable-DayFilterWidget tr {
	display: inline;
	float: left;
	margin: 1em;
}
*/
.DynaTable-DynaTableWidget table tr td {
  height: 4em;
  background: #fff;
  padding: 0 1em;
  vertical-align: middle !important;
}

.DynaTable-DynaTableWidget table.navbar tr td {
  background: #ddd;
  padding: 0;
}

.DynaTable-DynaTableWidget table.navbar table {
  padding-right: 1em;
}

.DynaTable-DynaTableWidget table tr td.header {
  background: #f55837;
  color: #972108;
  font-weight: normal !important;
  text-decoration: none !important;
  font-size: 1.1em;
}

#sidebar {
width: 200px;
float: left;
}
#sidebar-inner {
  padding: 0 1em;
}
#main {
width: 760px;
margin-left: 200px;
}
#days,
#person-type {
padding: 1.2em 0 0.6em;
background: #ddd;
margin-bottom: 2em;
}